#head {
position: relative;
left: -8px;
top: -10px;
}

#rep {
    position: absolute;
	top: -3px;
	left: 100px;
}

#log
{   position: absolute;
	font-family: Arial;
	font-size: 12px;
	left: 30px;
	top: 37px;
}
.labels
{
 	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	left: 45px;
	top: 77px;
}

.textbox1 {
	position: absolute;
	top: 84px;
	left: 147px;
	border: 1px solid #dbdbdb;
	padding: 3px;
}

.textbox2 {
	position: absolute;
	top: 127px;
	left: 147px;
	border: 1px solid #dbdbdb;
	padding: 3px;
}

/* unvisited link */
a:link {
    color: #3552b2;
    text-decoration: none
}

/* visited link */
a:visited {
    color: #3552b2;
    text-decoration: none
}

/* mouse over link */
a:hover {
    color: #3552b2;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #3552b2;
    text-decoration: none
}